@import './Variables.scss';
.contactgraph-component {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  border-left: solid 1px #ccc;
  width: 100%;
  height: 100%;
}
.contact-graph-svg {
  width: 100%;
  height: 100%;

  text {
    fill: $primaryTextColor;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:95%;
    vertical-align: bottom;
  }

  text:hover {
    fill: black;
    font-weight: bold;
  }

  circle{
    fill: lightBlue;
    stroke: lightBlue
  }

  line{
    stroke: lightGrey;
    stroke-width: 2px
  }
}
