@import './Variables.scss';
.contactgraph-component {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  border-left: solid 1px #ccc;
  width: 100%;
  height: 100%;
}
.contact-graph-svg {
  width: 100%;
  height: 100%;

  text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:95%;
    vertical-align: bottom;
  }

  text.highlighted {
    fill: black;
  }

  text.normal {
    fill: $primaryTextColor;
  }

  .linklabel {
    fill: $primaryTextColor;
  }
  text:hover {
    fill: black;
    font-weight: bold;
  }

  circle.nqnodeany{
    fill: #a6cee3;
    stroke: #a6cee3
  }
  circle.qnodeany{
    fill: #1f78b4;
    stroke: #1f78b4
  }
  circle.nqnodeto{
    fill: #b2df8a;
    stroke: #b2df8a
  }
  circle.qnodeto{
    fill: #33a02c;
    stroke: #33a02c
  }
  circle.nqnodefrom{
    fill: #fdbf6f;
    stroke: #fdbf6f
  }
  circle.qnodefrom{
    fill: #ff7f00;
    stroke: #ff7f00
  }

  line.normalany{
    stroke: #a6cee3;
    stroke-width: 2px
  }

  line.highlightedany{
    stroke: #1f78b4;
    stroke-width: 1px
  }
  line.normalto{
    stroke: #b2df8a;
    stroke-width: 2px
  }

  line.highlightedto{
    stroke: #33a02c;
    stroke-width: 1px
  }
  line.normalfrom{
    stroke: #fdbf6f;
    stroke-width: 2px
  }

  line.highlightedfrom{
    stroke: #ff7f00;
    stroke-width: 1px
  }
}
