.contactlist-component {
    display: flex;
    flex-direction: column;
    width: 300px;

    .contactlist-component-list {
      	flex: 1;
		  overflow: auto;
      text-align:left;
      	.contactlist-component-contact {
			  font-size: 12px;
			  padding: 5px;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
        border-bottom: 1px solid;
        width:95%;
     	}
    }
}
.total{
  color:#D0E7F0;
}

.searchLength{
  font-size:12.5px;
  margin-top: -22px;
  margin-left: 65%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  width:60px;
  text-align: center;
    background:#BCBCBC;
}

.red{
  margin-top:-22px;
  margin-left: 200px;
  background:#ff9393;
  width:100px;
  color:#000000;
  text-align: center;
}
.count{
  display:inline;
  float:right;
  text-align: center;
  height:15px;
  margin-top: -2px;
}

.count2{
  display:inline;
  float:right;
  text-align: center;
  margin-left:200px;
  height:15px;
  margin-top: -2px;
}

.goodCSS{
        flex: 0;
         min-height: 20px;
         max-height: 20px;
         font-size: 9px;
         background-color: rgba(255, 255, 255, 0.7);
         text-align: center;
         display: inline;
}

.trCSS{
  margin-left:20px;
}

.hi{
  display: inline;
  width:150px;
}

.borderCSS{
        flex: 0;
         min-height: 6px;
         max-height: 6px;
         font-size: 9px;
         min-width: 95px;
         background-color: white;
         text-align: left;
}

.hidden{
  overflow: hidden;
}

.textCSS{
  font-size:11px;
  text-align: center;

}
