.Emails-component {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    height: 100%;
    overflow: scroll;

    .Emails-component-list {
      	flex: 1;
		    overflow: auto;
      }
      .Emails-component-info {
      font:12;
      overflow: hidden;
      border-bottom: 1px solid;
      height:77px;
      width: 100%;
      text-align: left;
    }
    }

    .emailListHeight-graph-svg {
      width: 25%;
      height: 100%;

      text {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:95%;
        vertical-align: bottom;
      }
    }

    .emaillistdiv{
      border-bottom: solid 1px Black;
      padding: 0px;
      em{
        font-weight: bold;
        background-color: Yellow;
      }

      .emaillistsnippet{
        width: 95%;
        height: 49px;
        overflow:hidden;
        word-wrap: normal;
        font-size: 12px;
        margin-left: 10px;
      }
      .emaillistexpandedemail{
        width: 95%;
        height: 199px;
        overflow:scroll;
        word-wrap: normal;
        margin-left: 10px;
        .popup{
          word-wrap: break-word;
          font-size: 12px;
        }

        .props{
          color: black;
          text-decoration: underline;
        }

        .props2{
          color: black;
          text-decoration: underline;
          display:inline;
        }
        .tmp{
          display:block;
        }
        .text2{
          font-size:12px;
          text-align: left !important;
        }
      }


      .emaillist-emails-svg {
        width:100%;
        height: 20px;
        padding: 0px;
        cursor:pointer;
        text {
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
          text-anchor: left;
          cursor: pointer;
        }
        text.normal {
          fill: Black;
        }
        path.emailexpandarrow{
          stroke: Black;
          fill: none;
          stroke-width: 1px;
        }
        rect.emailexpandrect{
          width: 20px;
          height: 100%;
          x: 0px;
          y:0px;
          fill-opacity: 0.0;
        }
      }
    }


.popup{
  word-wrap: break-word;
  font-size: 15px;
}

.props{
  color: black;
  text-decoration: underline;
}

.props2{
  color: black;
  text-decoration: underline;
  display:inline;
}
.tmp{
  display:block;
}
.text2{
  font-size:13px;
  text-align: left !important;
}
