.filterlist-component {
  border: 1px dashed #f00;
}
.filterNum{
  margin-left: 80%;
  width:100%;
  font-size: 12px;
  position: absolute;
}

.emailNumber{
  width: 20%;
  background-color: #D0E7F0 !important;
  color: #000000;
}

.dropSelect {
  border: 0;
  outline: 0;
  background-color: 'white';
  display: 'inline-block';
  overflow: 'hidden';
  font-size: 12px
}
