@import './Variables.scss';
.panel-component {
		position: relative;
		height: 100%;
    display: flex;
    flex-direction: column;
	h1 {
		color: $primaryTextColor;
		font-size: 16pt;
		padding: 0px;
		margin: 0px;
		font-weight: 300;
  	}
		.panel-component-content {
			border-top: solid 1px $secondaryColor;
			border-left: solid 1px #ccc;
			display: flex;
			flex: 1;
			position: relative;
			flex-direction: column;
			overflow: visible;
		}
		.panel-component-content-scroll {
			border-left: solid 1px #ccc;
			display: flex;
			flex: 1;
			position: relative;
			flex-direction: column;
			overflow: scroll;
		}
}
