.rightpanel-component {
  width: 25%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.helppopup{
  word-wrap: break-word;
  font-size: 15px;
}

.props{
  color: black;
  text-decoration: underline;
}

.props2{
  color: black;
  text-decoration: underline;
  display:inline;
}
.fillblock{
  display:block;
}
.text2{
  font-size:13px;
  text-align: left !important;
}
