@import './Variables.scss';
.timegraph-component {
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top: solid 1px #ccc;

  text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }
  text.highlighted {
    fill: black;
    stroke: black;
  }
  text.normal {
    fill: $primaryTextColor;
    stroke: $primaryTextColor;
 }

  .sliderdiv{
    position: absolute;
    height:25%;
    top: 25%;
  }

  .slider-caption-svg{
    height: 25%;
    top: 0px;
    .intervalcaption {
      text-anchor: middle;
      alignment-baseline: middle;
    }
    .startcaption {
      text-anchor: start;
      alignment-baseline: middle;
    }
    .endcaption {
      text-anchor: end;
      alignment-baseline: middle;
    }
  }

  .time-graph-svg {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;

    rect.normal {
     fill: $primaryTextColor;
     stroke: black;
     stroke-width: 1px;
   }
  }
}
