$primaryColor: #A26AC8;
$secondaryColor: #CCCCCC;
$primaryTextColor: #8992A9;
$QColor1: #e41a1c;
$QColor2: #377eb8;
$QColor3: #4daf4a;
$QColor4: #984ea3;
$QColor5: #ff7f00;
$QColor6: #ffff33;
$QColor7: #a65628;
$QColor8: #f781bf;
$PQColor1: #a6cee3;
$PQColor2: #1f78b4;
$PQColor3: #b2df8a;
$PQColor4: #33a02c;
$PQColor5: #fb9a99;
$PQColor6: #e31a1c;
$PQColor7: #fdbf6f;
$PQColor8: #ff7f00;
$NColor1: #a6cee3;
$NColor2: #1f78b4;
$NColor3: #b2df8a;
$NColor4: #33a02c;
$NColor5: #fb9a99;
$NColor6: #e31a1c;
$NColor7: #fdbf6f;
$NColor8: #ff7f00;
$NColor9: #cab2d6;
$NColor10: #6a3d9a;
$NColor11: #d9d9d9;
$NColor12: #b15928;
